@model Domain.Instrumento

@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastrar um novo instrumento</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Digite as informações do instrumento:</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFabricacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataFabricacao)
                @Html.ValidationMessageFor(model => model.DataFabricacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor)
                @Html.ValidationMessageFor(model => model.Valor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoInstrumento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoInstrumento)
                @Html.ValidationMessageFor(model => model.TipoInstrumento)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
