@model Domain.Instrumento

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes do Instrumento</h2>

<div>
    <h4>Instrumento</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFabricacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFabricacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoInstrumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoInstrumento)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
